# PYTHON DATA STRUCTURES & BOOLEAN

## BOOLEAN VARIABLES
 - Boolean values are 2 constant objects true & false
 - They are used to represent truth values
 - Inorder to create a boolean variable we use an in-built function bool()

In [1]:
type(True)

bool

In [8]:
type(False)

bool

In [60]:
string='Nimra Ayaz'
print(string.isalnum()) #check if all the characters are alphanumeric
                        #will return True on NimraAyaz or Nimra1234
                        #if space included will always return False
print(string.isalpha()) #check if ALL the characters are alphabets
                        #if space included will return False
print(string.isdigit()) #test if all the string is digit
                        #if space included between digits will return false
print(string.istitle()) #test if the string contains title words(capital)
                        #return false if any of N OR A is lowercase(titlewords)
print(string.isupper()) #test if all the string is upper case
print(string.islower()) #test if all the string is lower case
print(string.isspace()) #test if there is only space
                        #return false if there is something else with space
print(string.endswith('Z')) #test if the string ends with z
print(string.startswith('N')) #test if the string starts with k

False
False
False
True
False
False
False
False
True

## BOOLEAN AND LOGICAL OPERATORS:

In [65]:
print(True and True)
print(True and False)
print(True or True)
print(True or False)

True
False
True
True

In [69]:
x="NIMRA"
y="1234"
print(x.isalpha() and y.islower()) #x contains alphabets
print(x.isalpha() or y.islower())  #y contains number in which there is no upper or lower case

False
True

## LISTS
 - DATA STRUCTURE
 - Mutable, Changeable, ordered sequence of elements
 - Each value/element inside a list is called and item.
 - Lists are defined inside a [ ] just as strings are defined inside double or single qoutes.
 - one way of creating a list is by using in-built function i-e list()

In [73]:
type([])

list

In [75]:
list_example=[]
type(list_example)

list

In [77]:
list1=list()
type(list1)

list

In [100]:
list2=['DSD','GOAT',100,13]
type(list2)

list

In [101]:
print(list2)
len(list2) #for printing number of items inside the brackets/list

['DSD', 'GOAT', 100, 13]

4

## IN-BUILT FUNCTION APPEND
- to add more items inside a list

In [102]:
list2.append('NIMRA')
print(list2)
 #the number of times you run it, it will print that item that much times

['DSD', 'GOAT', 100, 13, 'NIMRA']

In [105]:
##for getting a value at the index 3
print(list2[3])
print(list2[4])

13
NIMRA

In [109]:
#getting all the list
print(list2[:])
#want to get the list from 100 till NIMRA
print(list2[2:])
#now want to print from 100 to 13, so whatever index you give after at the right side of colon one index before that will be printed
print(list2[2:4])

['DSD', 'GOAT', 100, 13, 'NIMRA']
[100, 13, 'NIMRA']
[100, 13]

In [111]:
list2.append(["X",'Y'])
list2

['DSD', 'GOAT', 100, 13, 'NIMRA', ['X', 'Y']]

## IN-BUILT FUNCTION INSERT 
- for inserting at a specific index

In [112]:
list2.insert(1,"NIMRA") ##first parameter is the index and the 2nd is value
list2

['DSD', 'NIMRA', 'GOAT', 100, 13, 'NIMRA', ['X', 'Y']]

In [113]:
list2.insert(0,"NIMRA")
list2

['NIMRA', 'DSD', 'NIMRA', 'GOAT', 100, 13, 'NIMRA', ['X', 'Y']]

## EXTEND IN-BUILT FUNCTION

In [114]:
##as X & Y are appearing in brackets as another list in the list
##so by using extend function we can append the list which wont appear as above
list2.extend(['X','Y'])

In [115]:
list2

['NIMRA', 'DSD', 'NIMRA', 'GOAT', 100, 13, 'NIMRA', ['X', 'Y'], 'X', 'Y']

## OPERATIONS TO BE PERFORMED ON LISTS:

In [116]:
list3=[1,2,3]
sum(list3)

6

## POP IN-BUILT FUNCTION
- to pick a value/ remove a value from list

In [117]:
##if no value is given in pop so it will be the last value picked up
list3.pop()

3

In [119]:
list3

[1, 2]

In [120]:
list3.pop(0)

1

In [121]:
list3

[2]

## Count() - Number of occurences of a number

In [122]:
list3.count(2)

1

## In-built function idex()

In [145]:
#returns the index of the first occurance
#syntax index(value,[start,[stop]])
list4=[1,1,2,3,4,5]
list4.index(2,0,5)

2

In [147]:
#min & max
print(min(list4))
print(max(list4))

1
5

In [148]:
list4*2 ##list will occur twice

[1, 1, 2, 3, 4, 5, 1, 1, 2, 3, 4, 5]